# Animes Data Analysis

### Adding the imports

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import plotly.express as px

### Creating the DataFrame

In [7]:
df = pd.read_csv("animes.csv")

### Reading the data

In [8]:
df.head()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,https://cdn.myanimelist.net/images/anime/9/766...,https://myanimelist.net/anime/28891/Haikyuu_Se...
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,https://cdn.myanimelist.net/images/anime/3/671...,https://myanimelist.net/anime/23273/Shigatsu_w...
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,https://cdn.myanimelist.net/images/anime/6/867...,https://myanimelist.net/anime/34599/Made_in_Abyss
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,https://cdn.myanimelist.net/images/anime/3/815...,https://myanimelist.net/anime/31758/Kizumonoga...

In [9]:
df.tail()

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,img_url,link
19306,32979,Flip Flappers,Cocona is an average middle schooler living wi...,"['Sci-Fi', 'Adventure', 'Comedy', 'Magic']","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73,https://cdn.myanimelist.net/images/anime/4/822...,https://myanimelist.net/anime/32979/Flip_Flappers
19307,123,Fushigi Yuugi,"While visiting the National Library, junior-hi...","['Adventure', 'Fantasy', 'Magic', 'Martial Art...","Apr 6, 1995 to Mar 28, 1996",52.0,84407,1292,1071.0,7.73,https://cdn.myanimelist.net/images/anime/2/201...,https://myanimelist.net/anime/123/Fushigi_Yuugi
19308,1281,Gakkou no Kaidan,"Years ago, all of the ghosts in a haunted scho...","['Mystery', 'Horror', 'Supernatural']","Oct 22, 2000 to Mar 25, 2001",19.0,83093,1314,1073.0,7.73,https://cdn.myanimelist.net/images/anime/9/183...,https://myanimelist.net/anime/1281/Gakkou_no_K...
19309,450,InuYasha Movie 2: Kagami no Naka no Mugenjo,Inuyasha and company have finally destroyed Na...,"['Action', 'Adventure', 'Comedy', 'Historical'...","Dec 21, 2002",1.0,71989,1469,1077.0,7.73,https://cdn.myanimelist.net/images/anime/1162/...,https://myanimelist.net/anime/450/InuYasha_Mov...
19310,87,Mobile Suit Gundam: Char's Counterattack,The year is Universal Century 0093. Char Aznab...,"['Military', 'Sci-Fi', 'Space', 'Drama', 'Mecha']","Mar 12, 1988",1.0,29248,2604,1081.0,7.73,https://cdn.myanimelist.net/images/anime/1523/...,https://myanimelist.net/anime/87/Mobile_Suit_G...

### Exploring the data

In [10]:
df.shape

(19311, 12)

In [11]:
df.columns

Index(['uid', 'title', 'synopsis', 'genre', 'aired', 'episodes', 'members',
       'popularity', 'ranked', 'score', 'img_url', 'link'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   title       19311 non-null  object
 2   synopsis    18336 non-null  object
 3   genre       19311 non-null  object
 4   aired       19311 non-null  object
 5   episodes    18605 non-null  float64
 6   members     19311 non-null  int64
 7   popularity  19311 non-null  int64
 8   ranked      16099 non-null  float64
 9   score       18732 non-null  float64
 10  img_url     19131 non-null  object
 11  link        19311 non-null  object
dtypes: float64(3), int64(3), object(6)
memory usage: 1.8+ MB

### Filtering and exploring the _null_ values

In [13]:
df.isnull().sum()

uid              0
title            0
synopsis       975
genre            0
aired            0
episodes       706
members          0
popularity       0
ranked        3212
score          579
img_url        180
link             0
dtype: int64

### Data Types

In [14]:
df.dtypes

uid             int64
title          object
synopsis       object
genre          object
aired          object
episodes      float64
members         int64
popularity      int64
ranked        float64
score         float64
img_url        object
link           object
dtype: object

### Dropping columns "img_url" and "link"

In [15]:
df.drop(["img_url", "link"], inplace = True, axis = 1)

In [16]:
df.head(2)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83

### Finding unique uids

In [17]:
df["uid"].nunique()

16216

## Research Questions

### Adding new columns as "start_date" and "end_date"

In [18]:
df[['start_date', 'end_date']] = df['aired'].str.split(' to ', expand=True)

In [19]:
df.head(2)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016"
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,"Oct 10, 2014","Mar 20, 2015"

### Adding new columns as "start_year" and "end_year"

In [20]:
df["start_year"] = df["start_date"].str[-4:]

In [21]:
df.head(2)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016",2015
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,"Oct 10, 2014","Mar 20, 2015",2014

In [22]:
df["end_year"] = df["end_date"].str[-4:]

In [23]:
df.head(2)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016",2015,2016
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,"Oct 10, 2014","Mar 20, 2015",2014,2015

### Find all the animes that started and ended in the same year

In [24]:
df[((df["start_year"]) == (df["end_year"]))]

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,"Jul 7, 2017","Sep 29, 2017",2017,2017
5,37510,Mob Psycho 100 II,"Shigeo ""Mob"" Kageyama is now maturing and unde...","['Action', 'Slice of Life', 'Comedy', 'Superna...","Jan 7, 2019 to Apr 1, 2019",13.0,442310,176,21.0,8.89,"Jan 7, 2019","Apr 1, 2019",2019,2019
7,38000,Kimetsu no Yaiba,"Ever since the death of his father, the burden...","['Action', 'Demons', 'Historical', 'Shounen', ...","Apr 6, 2019 to Sep 28, 2019",26.0,575037,106,19.0,8.92,"Apr 6, 2019","Sep 28, 2019",2019,2019
8,35247,Owarimonogatari 2nd Season,Following an encounter with oddity specialist ...,"['Mystery', 'Comedy', 'Supernatural', 'Vampire']","Aug 12, 2017 to Aug 13, 2017",7.0,189944,573,18.0,8.93,"Aug 12, 2017","Aug 13, 2017",2017,2017
9,2904,Code Geass: Hangyaku no Lelouch R2,"One year has passed since the Black Rebellion,...","['Action', 'Military', 'Sci-Fi', 'Super Power'...","Apr 6, 2008 to Sep 28, 2008",25.0,992196,27,17.0,8.93,"Apr 6, 2008","Sep 28, 2008",2008,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19296,22101,Soredemo Sekai wa Utsukushii,"In the Sun Kingdom, sunshine is part of its ci...","['Adventure', 'Romance', 'Fantasy', 'Shoujo']","Apr 6, 2014 to Jun 29, 2014",12.0,186271,583,1004.0,7.76,"Apr 6, 2014","Jun 29, 2014",2014,2014
19297,8795,Panty & Stocking with Garterbelt,"The ""Anarchy Sisters,"" Panty and Stocking, hav...","['Action', 'Comedy', 'Parody', 'Supernatural',...","Oct 2, 2010 to Dec 25, 2010",13.0,249140,399,1003.0,7.76,"Oct 2, 2010","Dec 25, 2010",2010,2010
19298,9510,Mitsudomoe Zouryouchuu!,Second season of Mitsudomoe.,"['Slice of Life', 'Comedy', 'School']","Jan 9, 2011 to Feb 27, 2011",8.0,35933,2318,1002.0,7.76,"Jan 9, 2011","Feb 27, 2011",2011,2011
19302,1699,Romeo x Juliet,"On the floating continent of Neo Verona, the M...","['Drama', 'Fantasy', 'Historical', 'Romance']","Apr 5, 2007 to Sep 26, 2007",24.0,135029,831,1053.0,7.74,"Apr 5, 2007","Sep 26, 2007",2007,2007
19306,32979,Flip Flappers,Cocona is an average middle schooler living wi...,"['Sci-Fi', 'Adventure', 'Comedy', 'Magic']","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73,"Oct 6, 2016","Dec 29, 2016",2016,2016

### Find all the animes that have episodes more than 12 and popularity more than 100

In [25]:
df[(df["episodes"] > 12) & (df["popularity"] > 100)]

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016",2015,2016
5,37510,Mob Psycho 100 II,"Shigeo ""Mob"" Kageyama is now maturing and unde...","['Action', 'Slice of Life', 'Comedy', 'Superna...","Jan 7, 2019 to Apr 1, 2019",13.0,442310,176,21.0,8.89,"Jan 7, 2019","Apr 1, 2019",2019,2019
7,38000,Kimetsu no Yaiba,"Ever since the death of his father, the burden...","['Action', 'Demons', 'Historical', 'Shounen', ...","Apr 6, 2019 to Sep 28, 2019",26.0,575037,106,19.0,8.92,"Apr 6, 2019","Sep 28, 2019",2019,2019
15,15417,Gintama': Enchousen,"While Gintoki Sakata was away, the Yorozuya fo...","['Action', 'Comedy', 'Historical', 'Parody', '...","Oct 4, 2012 to Mar 28, 2013",13.0,166446,667,11.0,8.98,"Oct 4, 2012","Mar 28, 2013",2012,2013
23,1425,Lupin III: Part II,Lupin III chronicles the adventures of Arsene ...,"['Action', 'Adventure', 'Mystery', 'Comedy', '...","Oct 3, 1977 to Oct 6, 1980",155.0,19405,3237,796.0,7.86,"Oct 3, 1977","Oct 6, 1980",1977,1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19304,150,Blood+,Saya Otonashi is a seemingly ordinary girl liv...,"['Action', 'Military', 'Mystery', 'Horror', 'S...","Oct 8, 2005 to Sep 23, 2006",50.0,284348,344,1066.0,7.73,"Oct 8, 2005","Sep 23, 2006",2005,2006
19305,4177,Bounen no Xamdou,Sentan Island is a small island surrounded by ...,"['Action', 'Military', 'Sci-Fi']","Jul 15, 2008 to Feb 4, 2009",26.0,108496,1028,1067.0,7.73,"Jul 15, 2008","Feb 4, 2009",2008,2009
19306,32979,Flip Flappers,Cocona is an average middle schooler living wi...,"['Sci-Fi', 'Adventure', 'Comedy', 'Magic']","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73,"Oct 6, 2016","Dec 29, 2016",2016,2016
19307,123,Fushigi Yuugi,"While visiting the National Library, junior-hi...","['Adventure', 'Fantasy', 'Magic', 'Martial Art...","Apr 6, 1995 to Mar 28, 1996",52.0,84407,1292,1071.0,7.73,"Apr 6, 1995","Mar 28, 1996",1995,1996
19308,1281,Gakkou no Kaidan,"Years ago, all of the ghosts in a haunted scho...","['Mystery', 'Horror', 'Supernatural']","Oct 22, 2000 to Mar 25, 2001",19.0,83093,1314,1073.0,7.73,"Oct 22, 2000","Mar 25, 2001",2000,2001

### Find the number of animes that started and ended each year

In [26]:
df["start_year"].value_counts()

start_year
2017    1047
2016    1017
2014     994
2018     982
2015     920
        ...
1953       2
1955       2
1951       2
1944       1
1945       1
Name: count, Length: 101, dtype: int64

In [27]:
df["end_year"].value_counts()

end_year
?       587
2017    554
2018    544
2016    528
2015    513
2014    465
2013    429
2012    397
2011    368
2019    367
2010    341
2008    339
2009    334
2006    327
2007    323
2004    297
2003    285
2005    252
2002    231
2001    191
1999    162
1998    157
1997    141
2000    140
1996    130
1995    126
1991    103
1992     93
1990     84
1994     82
1993     77
1989     68
1988     59
1984     52
1985     43
1986     39
1983     37
1987     35
1979     35
1982     30
1981     27
1980     27
1978     25
1977     24
1975     23
1974     21
2020     20
1972     20
1971     19
1968     19
1976     18
1969     17
1973     15
1967     15
1970     13
1966     12
1965      9
1964      6
1962      1
Name: count, dtype: int64

### Find all the animes that started after 2015

In [31]:
df[df["start_year"] > "2015"]

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,"Jul 7, 2017","Sep 29, 2017",2017,2017
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,"Jan 6, 2017",None,2017,None
5,37510,Mob Psycho 100 II,"Shigeo ""Mob"" Kageyama is now maturing and unde...","['Action', 'Slice of Life', 'Comedy', 'Superna...","Jan 7, 2019 to Apr 1, 2019",13.0,442310,176,21.0,8.89,"Jan 7, 2019","Apr 1, 2019",2019,2019
7,38000,Kimetsu no Yaiba,"Ever since the death of his father, the burden...","['Action', 'Demons', 'Historical', 'Shounen', ...","Apr 6, 2019 to Sep 28, 2019",26.0,575037,106,19.0,8.92,"Apr 6, 2019","Sep 28, 2019",2019,2019
8,35247,Owarimonogatari 2nd Season,Following an encounter with oddity specialist ...,"['Mystery', 'Comedy', 'Supernatural', 'Vampire']","Aug 12, 2017 to Aug 13, 2017",7.0,189944,573,18.0,8.93,"Aug 12, 2017","Aug 13, 2017",2017,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19276,37123,Sora yori mo Tooi Basho: Yokoku,Web-exclusive next episode previews for Sora ...,"['Slice of Life', 'Comedy']","Dec 29, 2017 to Mar 26, 2018",13.0,1343,8976,1024.0,7.75,"Dec 29, 2017","Mar 26, 2018",2017,2018
19282,34428,Overlord Movie 2: Shikkoku no Eiyuu,Second Overlord recap film.,"['Action', 'Game', 'Supernatural', 'Magic', 'F...","Mar 11, 2017",1.0,37651,2274,1018.0,7.75,"Mar 11, 2017",None,2017,None
19285,36038,Net-juu no Susume,For the first time since graduating high schoo...,"['Game', 'Comedy', 'Romance']","Oct 10, 2017 to Dec 12, 2017",10.0,270085,368,1016.0,7.75,"Oct 10, 2017","Dec 12, 2017",2017,2017
19288,32491,Kanojo to Kanojo no Neko: Everything Flows,"For the longest time, it's just been the two o...","['Slice of Life', 'Psychological', 'Romance']","Mar 4, 2016 to Mar 25, 2016",4.0,77427,1390,1012.0,7.75,"Mar 4, 2016","Mar 25, 2016",2016,2016
19306,32979,Flip Flappers,Cocona is an average middle schooler living wi...,"['Sci-Fi', 'Adventure', 'Comedy', 'Magic']","Oct 6, 2016 to Dec 29, 2016",13.0,134252,843,1070.0,7.73,"Oct 6, 2016","Dec 29, 2016",2016,2016

### Find all the animes that have the genere as "Mystery" and have episodes more than 12

In [41]:
df[(df["genre"].str.contains("Mystery")) & (df["episodes"] > 10)]

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,"Jul 7, 2017","Sep 29, 2017",2017,2017
20,7588,Saraiya Goyou,Masterless samurai Akitsu Masanosuke is a skil...,"['Mystery', 'Historical', 'Drama', 'Samurai', ...","Apr 16, 2010 to Jul 2, 2010",12.0,61146,1650,800.0,7.86,"Apr 16, 2010","Jul 2, 2010",2010,2010
23,1425,Lupin III: Part II,Lupin III chronicles the adventures of Arsene ...,"['Action', 'Adventure', 'Mystery', 'Comedy', '...","Oct 3, 1977 to Oct 6, 1980",155.0,19405,3237,796.0,7.86,"Oct 3, 1977","Oct 6, 1980",1977,1980
56,1571,Ghost Hunt,"While at school, Taniyama Mai and her friends ...","['Mystery', 'Comedy', 'Horror', 'Supernatural'...","Oct 4, 2006 to Mar 28, 2007",25.0,172769,630,760.0,7.87,"Oct 4, 2006","Mar 28, 2007",2006,2007
62,202,Wolf's Rain,"In a dying world, there exists an ancient lege...","['Action', 'Adventure', 'Drama', 'Fantasy', 'M...","Jan 7, 2003 to Jul 29, 2003",26.0,238834,425,754.0,7.88,"Jan 7, 2003","Jul 29, 2003",2003,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19203,33253,Ajin 2nd Season,"After escaping certain death, Kei Nagai and hi...","['Action', 'Horror', 'Mystery', 'Seinen', 'Sup...","Oct 8, 2016 to Dec 24, 2016",13.0,178635,607,905.0,7.80,"Oct 8, 2016","Dec 24, 2016",2016,2016
19259,10620,Mirai Nikki,"Lonely high school student, Yukiteru Amano, sp...","['Action', 'Mystery', 'Psychological', 'Shoune...","Oct 9, 2011 to Apr 15, 2012",26.0,1205275,13,1043.0,7.74,"Oct 9, 2011","Apr 15, 2012",2011,2012
19260,32268,Koyomimonogatari,"Whether it is investigating stone shrines, tra...","['Comedy', 'Mystery', 'Supernatural']","Jan 10, 2016 to Mar 27, 2016",12.0,135107,839,1041.0,7.74,"Jan 10, 2016","Mar 27, 2016",2016,2016
19304,150,Blood+,Saya Otonashi is a seemingly ordinary girl liv...,"['Action', 'Military', 'Mystery', 'Horror', 'S...","Oct 8, 2005 to Sep 23, 2006",50.0,284348,344,1066.0,7.73,"Oct 8, 2005","Sep 23, 2006",2005,2006
19308,1281,Gakkou no Kaidan,"Years ago, all of the ghosts in a haunted scho...","['Mystery', 'Horror', 'Supernatural']","Oct 22, 2000 to Mar 25, 2001",19.0,83093,1314,1073.0,7.73,"Oct 22, 2000","Mar 25, 2001",2000,2001

### Find all the details of the anime "Mirai Nikki"

In [49]:
df[df["title"] == "Mirai Nikki"]

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
1045,10620,Mirai Nikki,"Lonely high school student, Yukiteru Amano, sp...","['Action', 'Mystery', 'Psychological', 'Shoune...","Oct 9, 2011 to Apr 15, 2012",26.0,1205275,13,1043.0,7.74,"Oct 9, 2011","Apr 15, 2012",2011,2012
19259,10620,Mirai Nikki,"Lonely high school student, Yukiteru Amano, sp...","['Action', 'Mystery', 'Psychological', 'Shoune...","Oct 9, 2011 to Apr 15, 2012",26.0,1205275,13,1043.0,7.74,"Oct 9, 2011","Apr 15, 2012",2011,2012

### Find the top 10 ranked animes

In [53]:
df[df["ranked"] < 11].sort_values(by = "ranked")

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,"Apr 5, 2009","Jul 4, 2010",2009,2010
3080,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,"Apr 5, 2009","Jul 4, 2010",2009,2010
773,9253,Steins;Gate,The self-proclaimed mad scientist Rintarou Oka...,"['Thriller', 'Sci-Fi']","Apr 6, 2011 to Sep 14, 2011",24.0,1331710,7,2.0,9.11,"Apr 6, 2011","Sep 14, 2011",2011,2011
18281,9253,Steins;Gate,The self-proclaimed mad scientist Rintarou Oka...,"['Thriller', 'Sci-Fi']","Apr 6, 2011 to Sep 14, 2011",24.0,1331710,7,2.0,9.11,"Apr 6, 2011","Sep 14, 2011",2011,2011
772,11061,Hunter x Hunter (2011),Hunter x Hunter is set in a world where Hunte...,"['Action', 'Adventure', 'Fantasy', 'Shounen', ...","Oct 2, 2011 to Sep 24, 2014",148.0,1052761,20,3.0,9.11,"Oct 2, 2011","Sep 24, 2014",2011,2014
18280,11061,Hunter x Hunter (2011),Hunter x Hunter is set in a world where Hunte...,"['Action', 'Adventure', 'Fantasy', 'Shounen', ...","Oct 2, 2011 to Sep 24, 2014",148.0,1052761,20,3.0,9.11,"Oct 2, 2011","Sep 24, 2014",2011,2014
771,32281,Kimi no Na wa.,"Mitsuha Miyamizu, a high school girl, yearns t...","['Romance', 'Supernatural', 'School', 'Drama']","Aug 26, 2016",1.0,1139878,15,4.0,9.09,"Aug 26, 2016",None,2016,None
18278,32281,Kimi no Na wa.,"Mitsuha Miyamizu, a high school girl, yearns t...","['Romance', 'Supernatural', 'School', 'Drama']","Aug 26, 2016",1.0,1139878,15,4.0,9.09,"Aug 26, 2016",None,2016,None
770,38524,Shingeki no Kyojin Season 3 Part 2,Seeking to restore humanity’s diminishing hope...,"['Action', 'Drama', 'Fantasy', 'Military', 'My...","Apr 29, 2019 to Jul 1, 2019",10.0,446370,175,5.0,9.07,"Apr 29, 2019","Jul 1, 2019",2019,2019
18276,38524,Shingeki no Kyojin Season 3 Part 2,Seeking to restore humanity’s diminishing hope...,"['Action', 'Drama', 'Fantasy', 'Military', 'My...","Apr 29, 2019 to Jul 1, 2019",10.0,446370,175,5.0,9.07,"Apr 29, 2019","Jul 1, 2019",2019,2019
769,28977,Gintama°,"Gintoki, Shinpachi, and Kagura return as the f...","['Action', 'Comedy', 'Historical', 'Parody', '...","Apr 8, 2015 to Mar 30, 2016",51.0,281594,351,6.0,9.05,"Apr 8, 2015","Mar 30, 2016",2015,2016
18067,28977,Gintama°,"Gintoki, Shinpachi, and Kagura return as the f...","['Action', 'Comedy', 'Historical', 'Parody', '...","Apr 8, 2015 to Mar 30, 2016",51.0,281594,351,6.0,9.05,"Apr 8, 2015","Mar 30, 2016",2015,2016
768,9969,Gintama',"After a one-year hiatus, Shinpachi Shimura ret...","['Action', 'Sci-Fi', 'Comedy', 'Historical', '...","Apr 4, 2011 to Mar 26, 2012",51.0,278110,353,7.0,9.04,"Apr 4, 2011","Mar 26, 2012",2011,2012
18066,9969,Gintama',"After a one-year hiatus, Shinpachi Shimura ret...","['Action', 'Sci-Fi', 'Comedy', 'Historical', '...","Apr 4, 2011 to Mar 26, 2012",51.0,278110,353,7.0,9.04,"Apr 4, 2011","Mar 26, 2012",2011,2012
767,820,Ginga Eiyuu Densetsu,The 150-year-long stalemate between the two in...,"['Military', 'Sci-Fi', 'Space', 'Drama']","Jan 8, 1988 to Mar 17, 1997",110.0,175423,620,8.0,9.03,"Jan 8, 1988","Mar 17, 1997",1988,1997
18065,820,Ginga Eiyuu Densetsu,The 150-year-long stalemate between the two in...,"['Military', 'Sci-Fi', 'Space', 'Drama']","Jan 8, 1988 to Mar 17, 1997",110.0,175423,620,8.0,9.03,"Jan 8, 1988","Mar 17, 1997",1988,1997
18064,35180,3-gatsu no Lion 2nd Season,"Now in his second year of high school, Rei Kir...","['Drama', 'Game', 'Seinen', 'Slice of Life']","Oct 14, 2017 to Mar 31, 2018",22.0,169544,657,9.0,9.02,"Oct 14, 2017","Mar 31, 2018",2017,2018
766,35180,3-gatsu no Lion 2nd Season,"Now in his second year of high school, Rei Kir...","['Drama', 'Game', 'Seinen', 'Slice of Life']","Oct 14, 2017 to Mar 31, 2018",22.0,169544,657,9.0,9.02,"Oct 14, 2017","Mar 31, 2018",2017,2018
765,28851,Koe no Katachi,"As a wild youth, elementary school student Sho...","['Drama', 'School', 'Shounen']","Sep 17, 2016",1.0,842277,53,10.0,9.01,"Sep 17, 2016",None,2016,None
18063,28851,Koe no Katachi,"As a wild youth, elementary school student Sho...","['Drama', 'School', 'Shounen']","Sep 17, 2016",1.0,842277,53,10.0,9.01,"Sep 17, 2016",None,2016,None

### Find all the animes in which the members voted are more than 50,000 and ranked under 100

In [54]:
df[(df["members"] > 50000) & (df["ranked"] < 100)]

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82,"Oct 4, 2015","Mar 27, 2016",2015,2016
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83,"Oct 10, 2014","Mar 20, 2015",2014,2015
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83,"Jul 7, 2017","Sep 29, 2017",2017,2017
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23,"Apr 5, 2009","Jul 4, 2010",2009,2010
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83,"Jan 6, 2017",None,2017,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18276,38524,Shingeki no Kyojin Season 3 Part 2,Seeking to restore humanity’s diminishing hope...,"['Action', 'Drama', 'Fantasy', 'Military', 'My...","Apr 29, 2019 to Jul 1, 2019",10.0,446370,175,5.0,9.07,"Apr 29, 2019","Jul 1, 2019",2019,2019
18278,32281,Kimi no Na wa.,"Mitsuha Miyamizu, a high school girl, yearns t...","['Romance', 'Supernatural', 'School', 'Drama']","Aug 26, 2016",1.0,1139878,15,4.0,9.09,"Aug 26, 2016",None,2016,None
18280,11061,Hunter x Hunter (2011),Hunter x Hunter is set in a world where Hunte...,"['Action', 'Adventure', 'Fantasy', 'Shounen', ...","Oct 2, 2011 to Sep 24, 2014",148.0,1052761,20,3.0,9.11,"Oct 2, 2011","Sep 24, 2014",2011,2014
18281,9253,Steins;Gate,The self-proclaimed mad scientist Rintarou Oka...,"['Thriller', 'Sci-Fi']","Apr 6, 2011 to Sep 14, 2011",24.0,1331710,7,2.0,9.11,"Apr 6, 2011","Sep 14, 2011",2011,2011
18760,801,Koukaku Kidoutai: Stand Alone Complex 2nd GIG,"Following the closure of the ""Laughing Man"" ca...","['Action', 'Military', 'Sci-Fi', 'Mystery', 'P...","Jan 1, 2004 to Jan 8, 2005",26.0,173629,626,88.0,8.52,"Jan 1, 2004","Jan 8, 2005",2004,2005

### Top 10 animes with most episodes

In [69]:
df.sort_values(by="episodes", ascending=False).head(10)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score,start_date,end_date,start_year,end_year
11739,9947,Lan Mao,Adventures include going into deep sea and acc...,"['Adventure', 'Comedy']","Oct 8, 1999 to Aug, 2001",3057.0,499,11014,12869.0,5.66,"Oct 8, 1999","Aug, 2001",1999,2001
4148,12393,Oyako Club,This anime was running almost 20 years and has...,"['Slice of Life', 'Comedy']","Oct 3, 1994 to Mar 30, 2013",1818.0,515,10943,9086.0,5.77,"Oct 3, 1994","Mar 30, 2013",1994,2013
19265,2471,Doraemon (1979),Nobita Nobi is a normal fourth grade student. ...,"['Adventure', 'Comedy', 'Fantasy', 'Kids', 'Sc...","Apr 2, 1979 to Mar 18, 2005",1787.0,26513,2750,1036.0,7.74,"Apr 2, 1979","Mar 18, 2005",1979,2005
1051,2471,Doraemon (1979),Nobita Nobi is a normal fourth grade student. ...,"['Adventure', 'Comedy', 'Fantasy', 'Kids', 'Sc...","Apr 2, 1979 to Mar 18, 2005",1787.0,26513,2750,1036.0,7.74,"Apr 2, 1979","Mar 18, 2005",1979,2005
4551,23349,Kirin Monoshiri Yakata,NaN,['Kids'],"Jan 1, 1975 to Dec 31, 1979",1565.0,305,12110,8692.0,5.89,"Jan 1, 1975","Dec 31, 1979",1975,1979
16913,6277,Manga Nippon Mukashibanashi (1976),An omnibus-format TV series consisting of anim...,"['Fantasy', 'Historical']","Jan 7, 1976 to Sep 3, 1994",1471.0,859,9845,7201.0,6.27,"Jan 7, 1976","Sep 3, 1994",1976,1994
4432,8213,Hoka Hoka Kazoku,Short comedic stories about events and the dai...,['Comedy'],"Oct 1, 1976 to Mar 31, 1982",1428.0,428,11334,8843.0,5.84,"Oct 1, 1976","Mar 31, 1982",1976,1982
4518,32448,Kirin Ashita no Calendar,NaN,"['Historical', 'Kids']","Jan 1, 1980 to Oct 6, 1984",1306.0,253,12615,8730.0,5.88,"Jan 1, 1980","Oct 6, 1984",1980,1984
17245,22221,Monoshiri Daigaku: Ashita no Calendar,Another continuation of Instant History with a...,['Historical'],"Jul 1, 1966 to Aug 2, 1970",1274.0,344,11861,7440.0,6.22,"Jul 1, 1966","Aug 2, 1970",1966,1970
3323,10241,Sekai Monoshiri Ryoko,An educational documentary series that depicts...,['Comedy'],"Oct 1, 1971 to Dec 31, 1974",1006.0,376,11645,8254.0,6.03,"Oct 1, 1971","Dec 31, 1974",1971,1974